html {
    background: #000;
    color: #fff;
}

.card-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border-radius: 1rem;
    width: 8rem;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #268bd2;
}

.correct {
    background-color: #52d327;
}

.wrong {
    background-color: #550000;
}

.card span {
    font-size: 4rem;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card input {
    margin: auto;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    text-align: center;
}

.card p {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
